<h1>Password reset</h1>

<p>Per resettare la password fai click sul link:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Questo link durerà solo due ore.</p>

<p>
Se non hai fatto richiesta per il cambio di password ignora il messagio e la tua password rimarrà uguale a prima.
</p>