<% provide(:title, "Contatti") %>
<div class="contatti">
<div class="container">
	<div class="row center">
    	<div class="col-sm-12">
          	<h3><i class="mdi-content-send" style="color: #b71c1c"></i></h3>
          	<h1 class="sttl">Contattaci</h1>
          	<br>
          	<br>
        </div>
        	 <div class="col-sm-4">
              <div class="gallery-cont">
              	 <a href="https://wa.me/393891086664" target="_blank" class="center"><img class="icon-png" src="assets/whatsapp-9e2405cd3eeb888583ff25a053abb141906046fa1156c3b62f54d6d99c0adac3.png">
              	 <h5 class="center" style="color: #b71c1c; font-size: 2em">Whatsapp</h5></a>
              	 <br>
              	 <h5 class="light black-text" style="font-size: 1.5em" > Oppure chiamaci direttamente al 
                 <br>
                 <a href="tel:+393891086664" style="color: #b71c1c"> +39 389 1086664 </a>
                 <br>
                 o al 
                 <br>
                 <a href="tel:+393206277402" style="color: #b71c1c">+39 320 6277402</a></h5>
              </div>
         	 </div>

          	<div class="col-sm-4">
                <div class="gallery-cont">
              	 <a href="https://m.me/Cutdownrecords?fbclid=IwAR11xCvca_lH-i67cwr6WR5kYKES7ZCUWlD9K4MjBGpPsrdwSsd65Y0VwE0" target="_blank" class="center"><img class="icon-png" src="assets/messenger-c97e1f09752837a09e97af527351bf934dfd142a6c1f3d092091316a604560b1.png">
              	 <h5 class="center" style="color: #b71c1c; font-size: 2em">Messenger</h5></a>
              	 <br>
              	 <h5 class="light" style="font-size: 1.5em">Contattaci su Messenger e visita la nostra pagina. Già che ci sei metti qualche like, sono sempre i ben accetti!</h5>
                </div>
            </div>

          	 <div class="col-sm-4">
              <div class="gallery-cont">
              	 <a href="#email" class="center"><img class="icon-png" src="assets/email-648534e4f457ae9b8844dc5f5425cb5a63b8f6fd84754644d424cb752b98668a.png">
              	 <h5 class="center" style="color: #b71c1c; font-size: 2em">Email</h5></a>
              	 <br>
              	 <h5 class="light" style="font-size: 1.5em">Iscriviti alla nostra Newsletter per ricevere offerte e promozioni dedicate solo ai più fedeli.
              	 <br>
               	 Non esagereremo con lo Spam. Promesso!</h5>
              </div>
          	 </div>
          	<br>
      	
  	</div>
</div>
</div>