<% provide(:title, 'Dove Siamo') %>
<div class="dove">
	<div class="container">
		<div class="center">
			<h1 class="sttl">Ecco dove puoi trovarci</h1>
			<br>
			<br>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="gallery">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1426.1282835596485!2d9.119265758244502!3d44.366321294775794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d35e66513e6907%3A0x5b1ad38cbe142efb!2sVia%20Polanesi%2C%2017%2C%2016031%20Sori%20GE!5e0!3m2!1sit!2sit!4v1586993850318!5m2!1sit!2sit" width="600" height="450" frameborder="0" style="border:2px solid #ccc; margin-bottom: 10%; margin-top: 5%" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
			</div>
			<div class="col-md-6">
				<div class="gallery">
				<iframe src="https://www.google.com/maps/embed?pb=!4v1586994185630!6m8!1m7!1s9sLH5tpkkFvYluo2vGn-lg!2m2!1d44.36659883811225!2d9.119330625715785!3f343.9329759602348!4f-13.685249607793807!5f0.7820865974627469" width="600" height="450" frameborder="0" style="border:2px solid #ccc; margin-bottom: 10%;  margin-top: 5%" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
