<% provide(:title, 'Home') %>
<div class="home">
  <div class="center container">
    <h1 class="sttl">Studio di registrazione, mixing e mastering.</h1>
      <br>
        <div class="row">
          <div class="col-xs-4">
            <a href="https://www.facebook.com/pg/Cutdownrecords/posts/?ref=page_internal"><img class="social-icon" src="assets/facebook-6c996e630195b22d103e9f4bd0b157d552c6a960a710713d31ee41778872f79d.png"></a></div>
          <div class="col-xs-4"> 
            <a href="https://www.instagram.com/cutdownrecords/?hl=it"><img class="social-icon" src="assets/insta-9fa59105a59df11f58f3c2106509a14443e18ee30b566dc24e2c285d0c21ae0f.png"></a></div>
          <div class="col-xs-4"> 
            <a href="https://www.youtube.com/channel/UClRNlBbbKLEqBLtA31I1goQ"><img class="social-icon" src="assets/youtube-117d3a5b3d0eccf0220743778e6f7fad31173d4c86679c8b819326b47b333e3f.png"></a></div>      
        </div><!-- end row -->
              <div class="jumbotron">
                <div class="CDlogo">
                  <%= link_to image_tag("LogoCD.png", alt: "CutDownlogo", size: 120), 'http://rubyonrails.org/' %>
                </div>
                  <h1 class="jumbofs">Benvenuto alla <br> Cut Down</h1>
                    <h2>Questa è la nostra Home page</h2>
                      <%= link_to "Registrati!", signup_path , class:"btn btn-lg btn-danger" %>
                        <br>
              </div><!-- end jumbotron -->
              <h1 class="sttl-rec">Dicono di noi</h1>
                    <div class="recensioni">
                      <div class="_4-u2 _4-u8" style="background-color: white;"><div class="_4-u3 _2u6z"><div class="_672g _1f47" style="background-color: rgb(66, 103, 178);">5,0</div><!-- react-mount-point-unstable --></div><div><span class="_67l1">5 su 5<a ajaxify="/async/page_recommendation/lightweight_score_explainer/?page_id=687481938101097" rel="dialog" href="#" role="button" class="" tabindex="0"><i class="_4udz img sp_f6EhnRRWUMy sx_63ba05"></i></a></span></div></div>

                      <div class="fb-post" data-href="https://www.facebook.com/paolo.sax.12/posts/10218343661774300" data-show-text="true" data-width=""><blockquote cite="https://developers.facebook.com/paolo.sax.12/posts/10218343661774300" class="fb-xfbml-parse-ignore"><p>Ripresa del suono impeccabile, e ottimi mix!!</p>Pubblicato da <a href="https://www.facebook.com/paolo.sax.12">Paolo Sax Firpo</a> su&nbsp;<a href="https://developers.facebook.com/paolo.sax.12/posts/10218343661774300">Giovedì 24 ottobre 2019</a></blockquote></div>

                      <div class="fb-post" data-href="https://www.facebook.com/thebustermoon/posts/503403627103085" data-show-text="true" data-width=""><blockquote cite="https://developers.facebook.com/thebustermoon/posts/503403627103085" class="fb-xfbml-parse-ignore"><p>#BUSTERNEWS
                      Ieri abbiamo registrato un brano negli studi della Cut Down Records, non vediamo l&#039;ora di farvelo sentire!!!...</p>Pubblicato da <a href="https://www.facebook.com/thebustermoon/">The Bustermoon</a> su&nbsp;<a href="https://developers.facebook.com/thebustermoon/posts/503403627103085">Lunedì 9 settembre 2019</a></blockquote></div>

                      <div class="fb-post" data-href="https://www.facebook.com/chiara.lobina.7/posts/10217260396014604" data-show-text="true" data-width=""><blockquote cite="https://developers.facebook.com/chiara.lobina.7/posts/10217260396014604" class="fb-xfbml-parse-ignore"><p>Ho registrato un mio brano live dai ragazzi della Cut Down Records e mi sono sentita a casa, come fossimo amici da...</p>Pubblicato da <a href="#" role="button">Chiara Lobina</a> su&nbsp;<a href="https://developers.facebook.com/chiara.lobina.7/posts/10217260396014604">Sabato 8 giugno 2019</a></blockquote></div>

                      <div class="fb-post" data-href="https://www.facebook.com/filippo.ghiglione/posts/10219220649409488" data-show-text="true" data-width=""><blockquote cite="https://developers.facebook.com/filippo.ghiglione/posts/10219220649409488" class="fb-xfbml-parse-ignore"><p>Ortima qualità, gentilezza e disponibilità ☺️
                      E c’è anche la possibilità di partecipare alle session organizzate in studio, davvero una bella occasione!
                      Super soddisfatto ☺️</p>Pubblicato da <a href="https://www.facebook.com/filippo.ghiglione">Filippo Ghiglione</a> su&nbsp;<a href="https://developers.facebook.com/filippo.ghiglione/posts/10219220649409488">Mercoledì 6 marzo 2019</a></blockquote></div>

                      <div class="fb-post" data-href="https://www.facebook.com/federico.stagno.39/posts/310797333086612" data-show-text="true" data-width=""><blockquote cite="https://developers.facebook.com/federico.stagno.39/posts/310797333086612" class="fb-xfbml-parse-ignore"><p>Chi non vorrebbe entrare in studio di registrazione e sentirsi subito a casa? La Cut Down Records è motivo d&#039;orgoglio...</p>Pubblicato da <a href="https://www.facebook.com/federico.stagno.39">Federico Stagno</a> su&nbsp;<a href="https://developers.facebook.com/federico.stagno.39/posts/310797333086612">Giovedì 1 novembre 2018</a></blockquote></div>

                      <div class="fb-post" data-href="https://www.facebook.com/stefano.stagno.100/posts/314273159405414" data-show-text="true" data-width=""><blockquote cite="https://developers.facebook.com/stefano.stagno.100/posts/314273159405414" class="fb-xfbml-parse-ignore"><p>Professionalità e disponibilità, niente di meglio per registrare la propria musica!!!</p>Pubblicato da <a href="https://www.facebook.com/stefano.stagno.100">Stefano Steddu Stagno</a> su&nbsp;<a href="https://developers.facebook.com/stefano.stagno.100/posts/314273159405414">Mercoledì 31 ottobre 2018</a></blockquote></div>
                    </div><!-- fine box recensioni -->
  </div><!-- fine center container -->
</div><!-- fine home -->