<% provide(:title, "I Nostri Lavori") %>
<div class="lavori">
<div class="container">
	<div class="center">
		<h1 class="sttl">Ecco cosa abbiamo realizzato</h1>
		<br>
		<div class="row">
			<div class="col-md-6">
  					<div class="gallery">
  						<h5 style="font-size: 1.2em; color: #b71c1c; font-weight: bold; ">Punish the Ghost | Early Vibes</h5>
		 	 		<iframe width="560" height="315" src="https://www.youtube.com/embed/isfsdtJ9JHw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		 	 		</div>
		 	</div>
		 	<div class="col-md-6">
		 		<div class="gallery">
  					<h5 style="font-size: 1em; color: #b71c1c; font-weight: bold">Tra Zena e l'Africa | U Carbun e Gente de Lugan</h5>
		 	 		<iframe width="560" height="315" src="https://www.youtube.com/embed/3vJRfAVvsEg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		 	 	</div>
		 	</div>
		 	<div class="col-md-6">
		 		<div class="gallery">
  					<h5 style="font-size: 1.2em; color: #b71c1c; font-weight: bold">Distanze | Lobina</h5>
		 	 		<iframe width="560" height="315" src="https://www.youtube.com/embed/iIuHQqGq0vg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		 	 	</div>
		 	</div>
		 	<div class="col-md-6">
		 		<div class="gallery">
  					<h5 style="font-size: 1.2em; color: #b71c1c; font-weight: bold">City Of Silences | f o l l o w t h e r i v e r</h5>
		 	 		<iframe width="560" height="315" src="https://www.youtube.com/embed/BClVtuEQDeo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		 	 	</div>
		 	</div>
 	 	</div>
 	</div>
</div>
</div>