<footer class="footer">
  <div class="container">
    <div class="center">
       <input id="email" type="email" class="validate center white black-text" placeholder="Inserisci qui la tua email!">
        <br>
          <button class="btn btn-lg btn-danger" type="submit" name="action" style="margin-bottom: 10px;">Voglio Registrarmi alla Newsletter!</button>
          <h5>Contattaci e Seguici</h5>
          <a href="https://wa.me/393891086664" target="_blank"><i class="icon-footer fab fa-whatsapp"></i></a>
          <a href="mailto:cutdownrecords2017@gmail.com"  target="_blank"><i class="icon-footer fa fa-envelope"></i></a>
          <a href="https://m.me/Cutdownrecords?fbclid=IwAR11xCvca_lH-i67cwr6WR5kYKES7ZCUWlD9K4MjBGpPsrdwSsd65Y0VwE0"  target="_blank"><i class="icon-footer fab fa-facebook-messenger"></i></a>
          <a href="https://www.facebook.com/pg/Cutdownrecords/posts/?ref=page_internal"  target="_blank"><i class="icon-footer fab fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/cutdownrecords/?hl=it" target="_blank"><i class="icon-footer fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UClRNlBbbKLEqBLtA31I1goQ" target="_blank"><i class="icon-footer fab fa-youtube"></i></a>
          <br>
          <h5 style="float: left; font-size: 0.8em">2020 &copy Oigres WD</h5>
    </div>
  </div>
</footer>